@font-face {
  font-family: 'neodgm';
  src: url(./fonts/neodgm.woff) format('woff');
  src: url(./fonts/neodgm.woff2) format('woff2');
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: 'neodgm';
}

body {
  min-height: 600px;
  background-color: #211f33;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3.2px;
  color: white;
  margin: 56px 0px 16px 0px;
}

#description {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  color: white;
}

#notice {
  font-style: italic;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  color: #ec8276;
  margin-top: 8px;
}

#wrapper {
  display: flex;
  justify-content: center;
}

canvas {
  position: absolute;
  top: 200px;
  width: 640px;
  height: 360px;
  background: transparent;
}

#score {
  position: absolute;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  border-radius: 4px;
  padding: 8px 12px 4px 12px;
  background-color: #211f33a4;
  color: white;
  top: 216px;
}

#tap {
  position: absolute;
  font-size: 48px;
  font-weight: normal;
  text-align: center;
  color: white;
  top: 492px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}

#tap:hover {
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

#gameover {
  position: absolute;
  font-size: 48px;
  font-weight: normal;
  text-align: center;
  min-width: 224px;
  color: white;
  top: 216px;
  border-radius: 4px;
  padding: 32px 32px 180px 32px;
  background-color: #211f33a4;
  visibility: hidden;
}

#record {
  position: absolute;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 4px;
  color: yellow;
  top: 324px;
  visibility: hidden;
}

.home_wrapper {
  position: absolute;
  top: 600px;
  width: 100%;
  display: flex;
  padding-bottom: 40px;
  justify-content: center;
}

.home_btn {
  border: 1px solid #ffffff;
  background-color: #ffffff00;
  box-shadow: 0 4px 4px 4px #0000001a;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  width: 172px;
  height: 48px;
  border-radius: 24px;
}

.home_btn:hover {
  border: none;
  background-color: #49a2fb;
}

.home_btn img {
  width: 25px;
  height: 20px;
}

.home_btn p {
  font-family: 'neodgm';
  font-size: 20px;
  letter-spacing: 1.2px;
  color: #ffffff;
  margin-left: 12px;
}
